@import "../materialize-src/sass/components/color-variables";
@import "../materialize-src/sass/components/variables";

body {
  margin: 0;
  background-color: $primary-color-dark;

  nav {
    .nav-wrapper {
      display: flex;
      justify-content: center;

      .title {
        font-size: 1.3rem;
      }

      .nav-menu {
        position: absolute;

        &.right {
          right: 0;
        }

        &.left {
          left: 0;
        }
      }
    }
  }
}

div#contents {
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - 64px);

  div#viewers {
    width: 100%;
    height: 100%;
    display: flex;

    curation-viewer {
      &.default {
        order: 100;
      }
    }
  }

  viewer-s {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .modal {
    width: 70%;
    max-height: 90%;
  }

  search-modal {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 600px;

    //overflow: hidden !important;

    search-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: right;
      //flex-wrap: wrap;
      max-width: max(80%, 700px);

      > * {
        width: 100%;
      }

      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;

        //padding-top: 0;

        > * {
          width: 100%;
        }

        > .input-field {
          flex: 1 1;
          margin-bottom: 0;
        }

        > .dropdown {
          padding-left: 20%;
          flex-basis: 100%;

          > .rows-wrapper.input-field {
            display: flex;

            > i {
              flex: 0 0;
            }

            > form {
              margin-left: 3rem;
              flex: 1 1;
            }
          }
        }
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;

      .card {
        width: 29%;
        margin: 2%;
        //height: 200px;

        .card-image {
          img {
            background-color: $primary-color-dark;
            height: 200px;
            object-fit: contain;
          }

          .card-title {
            max-width: 100%;
            max-height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }

        .card-content {
          height: 200px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  open-modal {
    overflow-x: hidden;

    .card-content {
      overflow-x: hidden;
    }
  }
}

.fontsize-inherit {
  font-size: inherit !important;
}

.primary-color {
  color: $primary-color !important;
}

.secondary-color {
  color: $secondary-color !important;
}